{%- block collection_widget -%}
    <div {{ block('widget_container_attributes') }}>
        <strong>{{ label }}</strong>
        {{ add_vue_data('form.' ~ form.vars.id ~ '.prototype' , "{
            template: `"~ block('collection_widget_subform') ~"`,
            props: ['form'],
            model: {
                prop: 'form',
                event: 'change'
            },
        }") }}
        <collection-type
            :allow_add="{{ form.vars.allow_add ? 'true': 'false' }}"
            :allow_delete="{{ form.vars.allow_delete ? 'true': 'false' }}"
            prototype_name="{{ prototype is defined and not prototype.rendered ? prototype.vars.name : '' }}"
            :prototype-component="{{ 'form.' ~ form.vars.id ~ '.prototype' }}"
            :initialCount="{{ form|length }}"
            v-model="form"
        >
            {% for field in form %}
                {{ block('collection_widget_subform') }}
            {% endfor %}
        </collection-type>
    </div>
{%- endblock collection_widget -%}

{%- block collection_widget_subform -%}
    <div class="subform row">
        {{ form_widget((field is defined ? field : prototype), {label: false}) }}
        <div class="col-1">
            <button {% if field is defined %}onClick="this.closest('.subform').remove()" {% else %}@click="$emit('remove')"{% endif %}>
                Remove
            </button>
        </div>
    </div>
{%- endblock collection_widget_subform -%}